.c-white{
  color: #fff;
}
body{
  font-family: prompt ,sans-serif;
  height: 100%;
}
.section{
  padding: 60px 0;
}

.footer{
  background: #333;
  .copyright{
    text-align: center;
    padding: 15px;
    background: #000;
  }
}

